.nav_bar ul{
    list-style-type: none;
    margin: 0;
    padding: 30px;
    background-color: #7D0DC3;
}
.nav_bar li{
    display: inline;
}
.nav_bar li a{
    padding: 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.nav_bar .active{
    background-color: #A020F0;
}
.nav_bar li a:hover:not(.active) {
      background-color: #D397F8;
}
img{
    float: right;
    max-width: 100%;
    height: auto;
}
.tagline{
    color: black;
    padding-top: 70px;
    font-size: 90px;
    text-align: center;
}
.aboutus{
    text-align: center;
    padding-top: 150px;
    font-size: 25px;

}
.aboutus img{
    float: inline-start;
    border-radius: 20px;
}
.box_1{
    background-color: #fbeeff;
    width: 96%;
    height: auto;
    margin-left: 2%;
    margin-top: 15%;
    margin-bottom: 3vh;
    border-radius: 5px;
    box-shadow: 0 0 30px 0px rgba(0, 0, 0,0.2);
}

.box_1 h2{
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}
.box1_view{
    display: flex;
}

.box_1 .box_note{
    width: 28%;
    margin-left: 15%;
    margin-bottom: 3vh;
    float: left;
}

.box_1 .box_note p{
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.8;
}
.box_1 .image1{
    width: 40%;
    margin-left: 80px;
    height: auto;
    margin-top: 40px;
}
.button{
    background-color: #7D0DC3;
    color: white;
    border: none;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    padding: 10px 20px;
    float: right;
    cursor: pointer;
}
.menu{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 80%;
    
  }
  
  tr, td {
    text-align: center;
    padding: 16px;
    border-bottom: 1px solid #ddd;
  }
  .table_details{
    margin-left: 10%;
  }

.box_2{
    background-color: #fbeeff;
    width: 96%;
    height: auto;
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom: 3vh;
    border-radius: 5px;
    box-shadow: 0 0 30px 0px rgba(0, 0, 0,0.2);
}  
.service{
    display: block;
    
}
.service li{
    text-align: left;
    margin-left: 30%;
}
.photo_gallery{
    margin-left: 6%;
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}
.gallery_item{
    position: relative;
    height: 230px;
    box-shadow: 3px 3px 5px #310047;
    cursor: pointer;
   
}
.gallery_item img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.gallery_item::before{
    content: "COFFEE";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    margin-top: -90px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;

}
.gallery_item::after{
    content:"" ;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    height: 0;
    transition: .3s;
    background-color: rgba(0, 0, 0,.4);

}
.gallery_item:hover::after{
    height: 100%;

}
.gallery_item:hover::before{
    margin-top: 0;
    opacity: 1;
}
footer {
    text-align: center;
    font-family: Times New Roman;
    font-size: 20px;
    padding: 2px;
    background-color: #A020F0;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  

